.user-list {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left {
  background-color: #ffdddd;
  text-align: left;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.right {
  background-color: #ddffdd;
  text-align: right;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
